<ion-content [fullscreen]="true">
  <div class="dashboard">
    <ion-img src="../../assets/Choose your disc.svg" style="min-width:241px; min-height:48px" alt="ReversAI"></ion-img>
    <br><br><br>
    <ion-img (click)="GoToChooseAIDifficultyVSPlayer('Black')" src="../../assets/buttons/Black Button.svg"></ion-img>
    <ion-img (click)="GoToChooseAIDifficultyVSPlayer('White')" src="../../assets/buttons/White Button.svg"></ion-img>
    <br><br><br>
    <ion-img (click)="goHome()" src="../../assets/buttons/Home Button.svg" alt="Home"></ion-img>
  </div>    
</ion-content>