
ion-content {
    --background: #208D3F; 
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 125px;

  img {
    width: 50px;
    height: 50px;
  }

  ion-button.black-button {
    --color: rgb(255, 255, 255);
    --background: #000000;
    width: 200px;
    font-size: larger;
    height: fit-content;
    margin-top: 15px;
    border-radius: 20px;
  }
  ion-img{
    margin-bottom: 10px;
  }
  

  .rate-share-settings {
    display: flex;
    align-items: center;
    
    .space{
      margin-left: 30px;
    }

    ion-img {
      width: 50px;
      height: 50px;
    }

  }
}



  