<ion-content>
  <div class="content">
    <div class="white-box">
      <ion-img class="logo" src="../../../assets/logo/ReversAI.svg"></ion-img>   
      <div class="login-buttons">
        <!-- Boutons de connexion -->
        <img class="custom-button" (click)="login()" src="../../assets/buttons/Login.svg" style="min-width:241px; min-height:48px" alt="login">
        <img class="custom-button" (click)="signup()" src="../../assets/buttons/Signup.svg" style="min-width:241px; min-height:48px" alt="signup">
      </div>
      <p>Or continue with:</p>
      <div class="continue-with social-icons">
        <!-- Logos des réseaux sociaux -->
        <img src="../../../assets/Google.svg" alt="Google">
        <img src="../../../assets/Facebook.svg" alt="Facebook">
        <img src="../../../assets/Apple.svg" alt="Apple">
      </div>
    </div>
  </div>
</ion-content>
