ion-content {
    --background: #208D3F; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo{
    margin-top:15px;
}

.white-box {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.custom-button {
    margin: 5px;
    background-color: #3E7F30;
    min-width: 150px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #2F5D1D;
}

.social-icons {
    display: flex;
    align-items: center;
}


.social-icons img {
    width: 30px; // Ajustez la taille selon vos besoins
    height: 30px; // Ajustez la taille selon vos besoins
    margin-inline: 10px;
    cursor: pointer;
}
