<ion-content>
  <div class="content">
    <div class="white-box">
      <ion-img class="logo" src="../../../assets/logo/ReversAI.svg"></ion-img>   
      <div class="login-buttons">
        <!-- Boutons de connexion -->
        <button class="custom-button" (click)="login()">Log In</button>
        <button class="custom-button" (click)="signup()">Sign Up</button>
      </div>
      <p>Or continue with:</p>
      <div class="continue-with social-icons">
        <!-- Logos des réseaux sociaux -->
        <img src="../../../assets/Google.svg" alt="Google">
        <img src="../../../assets/Facebook.svg" alt="Facebook">
        <img src="../../../assets/Apple.svg" alt="Apple">
      </div>
    </div>
  </div>
</ion-content>
