.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  
    .profile-image {
      ion-img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
      }
      ion-button {
        margin-top: 10px;
      }
    }
  
    .profile-details {
      width: 80%;
      margin-top: 20px;
  
      ion-item {
        --padding-start: 0;
        --padding-end: 0;
      }
  
      ion-button {
        margin-top: 20px;
      }
    }
  }
  